<html>
<body>
<!-- <?php -->
<!--     $files = scandir('../static/images'); -->
<!--     foreach($files as $file) { -->
<!--         if($file !== "." && $file !== "..") { -->
<!--             echo "<img src='$file' />"; -->
<!--         } -->
<!--     } -->
<!-- ?> -->
<h1>File Uploaded</h1>
<a href="/pick_tubes">Pick Tubes</a>
<img src="../static/images/traydisplay0.jpg" alt="">
<img src="../static/images/traydisplay1.jpg" alt="">
<img src="../static/images/traydisplay2.jpg" alt="">
<img src="../static/images/traydisplay3.jpg" alt="">
<img src="../static/images/traydisplay4.jpg" alt="">
<img src="../static/images/traydisplay5.jpg" alt="">
<img src="../static/images/traydisplay6.jpg" alt="">
<img src="../static/images/traydisplay7.jpg" alt="">
<img src="../static/images/traydisplay8.jpg" alt="">
<img src="../static/images/traydisplay9.jpg" alt="">
<img src="../static/images/traydisplay10.jpg" alt="">
<img src="../static/images/traydisplay11.jpg" alt="">
<img src="../static/images/traydisplay12.jpg" alt="">
<img src="../static/images/traydisplay13.jpg" alt="">
<img src="../static/images/traydisplay14.jpg" alt="">
<img src="../static/images/traydisplay15.jpg" alt="">
<img src="../static/images/traydisplay16.jpg" alt="">
</body>
</html>
