<html>
<body>
<h1>Please place a tray on the machine and enter the tray id and rack ids</h1>
<form action="/scanning_enter_ids">
	Tray ID:<br>
	<input type="text" name="trayid"><br>
	Rack 1 ID:<br>
	<input type="text" name="rackid0"><br>
	Rack 2 ID:<br>
	<input type="text" name="rackid1"><br>
	Rack 3 ID:<br>
	<input type="text" name="rackid2"><br>
	Rack 4 ID:<br>
	<input type="text" name="rackid3"><br>
	Rack 5 ID:<br>
	<input type="text" name="rackid4"><br>
	Rack 6 ID:<br>
	<input type="text" name="rackid5"><br>
	<input type="submit" name="Submit">
</form>
</body>
</html>