<html>
<body>
<h1>Pick Tubes</h1>
<form action="/get_csv_file" method="post" enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload CSV File>
</form>
<form action="/check_tray" method="get">
  <input type="submit" value="Check Tray">
</form>
<form action="/run_tray" method="get">
  <input type="submit" value="Run Tray">
</form>
<form action="/download_it" method="get">
  <input type="submit" value="Download It">
</form>
<h4>Done with this file!<h4>
</body>
</html>
