<html>
<head>
    <style>
        #headtext {
            float: left;
            margin-top: -10px;
        }
        #guide {
            float: right;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div id="headtext">
    <h1>
    	Ready to run tray
    </h1>
</div>
<img src="../../static/guides/initial_guide.jpg" height=130 id="guide" alt="">
<img src="../static/traydisplay.jpg" alt="">
<form action="/run_tray" method="get">
  <input type="submit" value="Run Tray">
</form>
<form action="/" method="get">
  <input type="submit" value="Back To Main Page">
</form>
</body>
</html>
