<!DOCTYPE html>
<html>
<head>
    <style>
        #headtext {
            float: left;
            margin-top: -10px;
        }
        #guide {
            float: right;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div id="headtext">
    <h1>
        {% if nextTrayId  %}
            Ready to scan a tray.
        {% endif %}
    </h1>
    <h2>
        {% if nextTrayId  %}
            Please put tray {{ nextTrayId }} on the machine
        {% endif %}
    </h2>
</div>
<img src="../static/guides/initial_guide.jpg" height="130" id="guide" alt="">
<img src="../static/traydisplay.jpg" alt="">
<form action="/picking_scan_tray" method="get">
  <input type="submit" value="Scan Tray">
</form>
<h4>If you need to stop the order click Abort Order and then click Back To Main Page</h4>
<form action="/abort_order" method="get">
  <input type="submit" value="Abort Order">
</form>
<form action="/" method="get">
  <input type="submit" value="Back To Main Page">
</form>
</body>
</html>
