<html>
<body>
<h1>
    Tray scanned
    <br>
    {% if desiredTubesIncorrect != None  %}
        Number of desired tubes incorrect: {{ desiredTubesIncorrect }}
    {% endif %}
    <br>
    {% if totalTubesIncorrect != None %}
        Total number of tubes incorrect: {{ totalTubesIncorrect }}
    {% endif %}
</h1>
<img src="../prod/just_scan_pick_guide.jpg" alt="">
<img src="../static/traydisplay.jpg" alt="">
<form action="/picking_scan_tray" method="get">
  <input type="submit" value="Scan Again">
</form>
<form action="/skip_tray" method="get">
  <input type="submit" value="Skip Tray">
</form>
<form action="/run_tray" method="get">
  <input type="submit" value="Run Tray">
</form>
<h4>If you need to stop the order click Abort Order and then click Back To Main Page</h4>
<form action="/abort_order" method="get">
  <input type="submit" value="Abort Order">
</form>
<form action="/" method="get">
  <input type="submit" value="Back To Main Page">
</form>
</body>
</html>